{% extends "base.html" %}
{% block content %}

<div class="card">
<!-- post -->
  <div class="card-header">
	<span class="fw-bold">
	<h2>{{ object.title }}</h2>
	</span> &middot;
	<span class="text-muted"><p>by {{ object.author }} | {{ object.updated_at }}</p></span>
  </div>
  <div class="card-body">
	<p>{{ object.body }}</p>
  </div>
</div>

<div>
	{% if post.author.pk == request.user.pk %}
	<p><a class="btn btn-info" href="{% url 'post_edit' post.pk %}">Edit</a>
		<a class="btn btn-danger" href="{% url 'post_delete' post.pk %}">Delete</a>
	</p>
	{% endif %}
	<p><a href="{% url 'post_list' %}">All Articles</a></p>
</div>
{% endblock content %}